*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 65.5%;
}

html {
  color: white;
  background-color: #000015;
}

main {
  position: relative;
  margin-top: 20px;
  text-align: center;
  padding: 0 23%;
}

#main-title {
  font-size: 5rem;
  margin-bottom: 30px;
}

.container-title {
  font-size: 3rem;
  margin-top: 40px;
}

#requests-container,
#requests-category-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.counter-box {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

hr {
  opacity: 30%;
  border: 1px solid;
  margin: 2rem 0px;
}

fieldset {
  border: none;
  margin-bottom: 2rem;
}

.field-title {
  font-size: 2rem;
  margin-bottom: 0.7rem;
  color: #ff8c00;
}

.qty-requests {
  font-size: 1.8rem;
}

.minus-button,
.plus-button,
.plus-button-category,
.minus-button-category {
  border: none;
  padding: 0px;
  background-color: #000015;
  font-size: 1.8rem;
}

ion-icon {
  color: #ff8c00;
}

.minus-button ion-icon:hover,
.minus-button-category ion-icon:hover {
  cursor: pointer;
  color: #ff0000;
}
.plus-button ion-icon:hover,
.plus-button-category ion-icon:hover{
  cursor: pointer;
  color: #00ff00;
}
#copy-text {
  margin: 20px auto 0;
  font-size: 1.6rem;
  text-align: left;
}

@media screen and (min-width: 1920px){
  #main-title{
    font-size: 6rem;
  }
  
  .container-title{
    font-size: 5rem;
  }
  .field-title{
    font-size:3rem
  }
  .qty-requests{
    font-size:2.5rem;
  }
  .plus-button,.minus-button{
    font-size: 2.4rem;
  }
  #copy-text{
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1366px){

}

@media screen and (max-width: 330px) {
  #requests-container,
  #requests-category-container {
    margin-top: 20px;
    display: block;
  }
}
